<!DOCTYPE html>
<html>
  <head>
    <title>[API] <%= strSysName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>
  <body>
    <h1><%= strSysName %></h1>
    <p>Version: <%= strSysVersion %></p>
    <p>Last Updated: <%= strSysLastUpdated %></p>
    <p>Environment: <%= strEnvironment %></p>
    <br>
    <h3>Status</h3>
    <p>Backend: true</p>
    <!-- <p>Server Front: ok</p> -->
    <p>Database: <%= strStatusDatabase %></p>
  </body>
</html>
